body {
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.wrapper {

    margin: 55px 0px;

}

.photo {
    text-align: center;
    border-radius: 100px;
}

.info {
color: white;
text-align: center;

}

h1{
    margin: 0px 10px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 5px 5px;
}
p{
    font-family: 'Muli', sans-serif;
    font-size: 16px;
text-align: center;
margin: 5px 5px;
line-height: 23px;
}

footer{
    text-align: center;
    margin: 20px;
}
img{
    
  border-radius: 100px;
}

