

.wrapper {

    margin: 55px 0px;

}

.photo {
    text-align: center;
    border-radius: 100px;
}

.info {
color: white;
text-align: center;

}

h1{
    margin: 0px 10px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 5px 5px;
}
p{
    font-family: 'Muli', sans-serif;
    font-size: 16px;
text-align: center;
margin: 5px 5px;
line-height: 23px;
}

footer{
    text-align: center;
    margin: 20px;
}
img{
    
  border-radius: 100px;
}

